h1 {
    font-size: 200%;

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    margin:auto;
    width: 50%;
    border: 3px solid gold;
}

label {
    font-weight: bold;
}

span {
    font-weight: bold;
}

div {
    height: 50vh;
    display:grid;
    justify-content: center;
    align-items: center;
}
